<launch>

    <!-- Launch the PTU action server used for doing the pan tilt sweep -->
    <node pkg="scitos_ptu" type="ptu_action_server_metric_map.py" name="ptu_action_server_metric_map" output="screen">

    <!-- The system merging the individual frames into a local map -->
    <include file="$(find cloud_merge)/launch/cloud_merge.launch">
    
    </include>
    
    <!-- The system doing the analysis of static vs dynamic parts of the local maps -->
    <include file="$(find semantic_map)/launch/semantic_map.launch">
    
    </include>

</launch>
