<launch>

  <arg name="save_intermediate"           default="true" />
  <arg name="generate_pointclouds"        default="true" />
  <arg name="cleanup"           	  default="false" />
  <arg name="log_to_db"           	  default="true" />
  <arg name="cache_old_data"           	  default="false" />
  <arg name="max_instances"               default="2" />
  <arg name="voxel_size_table_top"        default="0.01" />
  <arg name="voxel_size_observation"      default="0.03" />
  <arg name="point_cutoff_distance"       default="4.0"/>

  <arg name="input_rgb"           	  default="/head_xtion/rgb/image_color" />
  <arg name="input_depth"           	  default="/head_xtion/depth_registered/image_rect" />
  <arg name="input_caminfo"           	  default="/head_xtion/rgb/camera_info" />

  <arg name="machine"   	default="localhost" />
  <arg name="user"   	default="" />
 
  <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)"/>

  <node machine="$(arg machine)" pkg="cloud_merge" type="cloud_merge" name="cloud_merge" output="screen" respawn="true">
	<param name="save_intermediate"  type="bool" value="$(arg save_intermediate)"/>
	<param name="generate_pointclouds"       type="bool" value="$(arg generate_pointclouds)"/>
	<param name="cleanup"  		    	 type="bool" value="$(arg cleanup)"/>
	<param name="log_to_db"  		 type="bool" value="$(arg log_to_db)"/>
	<param name="max_instances"    	 type="int" value="$(arg max_instances)"/>
	<param name="cache_old_data"	type="bool" value="$(arg cache_old_data)"/>
	
<!--	<param name="input_cloud"  		 value="$(arg input_cloud)"/> -->
	<param name="input_rgb"  		 value="$(arg input_rgb)"/>
	<param name="input_depth"  		 value="$(arg input_depth)"/>
	<param name="input_caminfo"  		 value="$(arg input_caminfo)"/>
  
 	<param name="voxel_size_table_top"        type="double" value="$(arg voxel_size_table_top)" />
	<param name="voxel_size_observation"      type="double" value="$(arg voxel_size_observation)" />
  	<param name="point_cutoff_distance"       type="double" value="$(arg point_cutoff_distance)" />
  </node>

</launch>
