<launch>
    <arg name="search_directly" default="false"/>
    <arg name="vocabulary_path" default="/home/nbore/Data/Birmingham/semanticMap/vocabulary"/>
    <!-- <arg name="vocabulary_path" default="/media/nbore/My Passport/ICRA_data/controlled_experiments/vocabulary"/> -->
    <!-- <arg name="vocabulary_path" default="/media/nbore/My Passport/icra_data_surfels/controlled_experiments/vocabulary_ros"/> -->
    <!-- <arg name="vocabulary_path" default="~/.semanticMap/vocabulary"/> -->

    <node pkg="surfelize_it" type="topic_processor" name="topic_processor" output="screen" respawn="true"/>
    <node pkg="quasimodo_retrieval" type="quasimodo_retrieval_node" name="quasimodo_retrieval_node" output="screen" respawn="true">
        <param name="vocabulary_path" value="$(arg vocabulary_path)"/>
    </node>
    <node pkg="quasimodo_retrieval" type="quasimodo_visualization_server" name="quasimodo_visualization_server" output="screen" respawn="true"/>
    <node pkg="quasimodo_retrieval" type="quasimodo_logging_server" name="quasimodo_loggign_server" output="screen" respawn="true"/>
    <group if="$(arg search_directly)">
        <node pkg="quasimodo_retrieval" type="quasimodo_retrieve_observation" name="quasimodo_retrieve_observation" output="screen" respawn="true"/>
    </group>
</launch>
