<launch>
    <arg name="search_directly" default="false"/>
    <arg name="data_path" default="/home/strands/.semanticMap/vocabulary"/>
    <arg name="enable_incremental" default="false"/>
    <arg name="add_previous_maps" default="false"/>
    <arg name="start_add_map_ind" default="-1"/>
    <arg name="min_match_depth" default="1"/>

    <include file="$(find quasimodo_retrieval)/launch/retrieval.launch">
        <arg name="search_directly" value="false"/>
        <arg name="vocabulary_path" value="$(arg data_path)/vocabulary"/>
        <arg name="enable_incremental" value="$(arg enable_incremental)"/>
        <arg name="min_match_depth" value="$(arg min_match_depth)"/>
    </include>

    <include file="$(find retrieval_processing)/launch/processing.launch">
        <arg name="data_path" value="$(arg data_path)"/>
        <arg name="add_previous_maps" value="$(arg add_previous_maps)"/>
        <arg name="start_add_map_ind" value="$(arg start_add_map_ind)"/>
    </include>

    <node pkg="quasimodo_object_search" type="insert_object_server.py" name="insert_object_server" output="screen" respawn="true"/>

    <node pkg="surfelize_it" type="surfelize_server" name="surfelize_server" output="screen" respawn="true"/>

</launch>
